In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

Ans.
# pip install pandas
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
s1 = pd.Series(data)
print(s1)
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
data = [4, 8, 15, 16, 23, 42]
s1 = pd.Series(data)
print(s1)
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
type(s1)
pandas.core.series.Series
# Alternatively
s2 = pd.Series([4, 8, 15, 16, 23, 42])
print(s2)
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
type(s2)
pandas.core.series.Series


Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it. 

Ans.
l1 = [1,2,3,4,5,6,7,8,9,0]
s3 = pd.Series(l1)
print(s3)
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64
Q3. Create a Pandas DataFrame that contains the following data:
Name	Age	Gender
Alice	25	Female
Bob	30	Male
Claire	27	Female
Then, print the DataFrame.
Ans.
data = {
  "Name": [420, 380, 390],
  "Age": [50, 40, 45],
  "Gender":["Female","Male","Female"]}
df1 = pd.DataFrame(data)
print(df1)
   Name  Age  Gender
0   420   50  Female
1   380   40    Male
2   390   45  Female


Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans. In pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a table in a relational database or a spreadsheet. A pandas DataFrame can be thought of as a collection of pandas Series objects, where each Series represents a column in the DataFrame.

On the other hand, a pandas Series is a one-dimensional labeled array that can hold data of any type (integer, float, string, etc.). Each element in a pandas Series is assigned a unique label or index. A Series can be thought of as a single column in a DataFrame.

Here is an example to illustrate the difference between a DataFrame and a Series:
import pandas as pd

# Create a pandas Series object
fruits = pd.Series(['Apple', 'Banana', 'Cherry', 'Durian'])

# Create a pandas DataFrame object
df = pd.DataFrame({'Fruit': fruits, 'Color': ['Red', 'Yellow', 'Red', 'Green'], 'Price': [1.0, 0.5, 2.0, 3.0]})

print('Fruits Series:')
print(fruits)
print('\nDataFrame:')
print(df)
Output :

Fruits Series:
0     Apple
1    Banana
2    Cherry
3    Durian
dtype: object

DataFrame:
    Fruit   Color  Price
0   Apple     Red    1.0
1  Banana  Yellow    0.5
2  Cherry     Red    2.0
3  Durian   Green    3.0
In the example above, we first create a pandas Series called "fruits" that contains four elements. We then create a pandas DataFrame called "df" using a Python dictionary that contains three key-value pairs. Each key represents a column name, and the corresponding value is a list that contains the data for that column. The resulting DataFrame has three columns: "fruits", "count", and "price".

In summary, the key difference between a Series and a DataFrame in pandas is that a Series represents a single column of data with row labels, while a DataFrame represents a two-dimensional table of data with columns and row labels.


Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Ans. There are several functions in Pandas that are commonly used to manipulate data in a DataFrame. Here are a few examples:

1. drop(): This function is used to drop rows or columns from a DataFrame. For example, if we have a DataFrame with a column that we don't need, we can drop it like this:
df.drop('column_name', axis=1, inplace=True)
2. groupby(): This function is used to group data in a DataFrame based on a specific column or columns. We can then apply an aggregate function, such as mean(), sum(), or count(), to the groups. For example, if we have a DataFrame with sales data for different regions, we can group the data by region and calculate the total sales for each region like this:
df.groupby('region')['sales'].sum()
3. merge(): This function is used to merge two DataFrames based on a common column. For example, if we have two DataFrames with customer data and order data, we can merge them based on the customer ID like this:
merged_df = pd.merge(customer_df, order_df, on='customer_id')
4. apply(): This function is used to apply a function to each row or column in a DataFrame. For example, if we have a DataFrame with customer data and we want to calculate the age of each customer based on their birth year, we can use apply() like this:

def calculate_age(row):
    return 2023 - row['birth_year']

df['age'] = df.apply(calculate_age, axis=1)
These are just a few examples of the many functions available in Pandas for manipulating data in a DataFrame. These functions can be very useful when cleaning and transforming data, performing calculations, and preparing data for analysis.


Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans. In Pandas, both Series and DataFrame are mutable in nature, meaning that we can modify their values, add or remove rows or columns, and perform other operations that change their contents.

However, Panel is considered a deprecated data structure in the latest version of Pandas, and it is recommended to use MultiIndex instead. MultiIndex is also mutable like Series and DataFrame.


Q7. Create a DataFrame using multiple Series. Explain with an example.

Ans. To create a DataFrame using multiple Series in Pandas, we can pass a dictionary of Series to the pd.DataFrame() constructor. Each key in the dictionary represents a column name, and the corresponding value is a Series object that contains the data for that column.

Here's an example of how to create a DataFrame using multiple Series in Pandas:
import pandas as pd

# create three Series objects
names = pd.Series(['Alice', 'Bob', 'Charlie', 'Dave'])
ages = pd.Series([25, 30, 35, 40])
salaries = pd.Series([50000, 60000, 70000, 80000])

# create a dictionary of Series
data = {'Name': names, 'Age': ages, 'Salary': salaries}

# create a DataFrame using the dictionary of Series
df = pd.DataFrame(data)

# print the resulting DataFrame
print(df)
In this example, we first create three Series objects called names, ages, and salaries that contain the data for the "Name", "Age", and "Salary" columns of our DataFrame. We then create a dictionary called data that maps each column name to its corresponding Series. Finally, we create a DataFrame using the pd.DataFrame() constructor and pass the data dictionary as an argument. The resulting DataFrame has three columns: "Name", "Age", and "Salary", with the corresponding data from the three Series objects.